name: testing

on:
  pull_request:
    types: [opened, reopened, synchronize, labeled]
    branches:
      - main
      - feature/*
  push:
    branches:
      - main
      - feature/*
  workflow_dispatch:
    inputs:
      nightly:
        description: 'Nightly workflow.'
        required: true
        type: boolean
        default: false

jobs:
  android:
    runs-on: [self-hosted, linux, X64]
    steps:
      - name: Set up Cloud SDK
        uses: isarkis/setup-gcloud@40dce7857b354839efac498d3632050f568090b6 # v1.1.1
      - name: Download Unit Test Results from GCS
        if: always()
        shell: bash
        env:
          DOWNLOAD_PATH: unit-test-results.zip
          GCS_PATH: gs://cobalt-unittest-storage/results
          SESSION_ID: 7f0f3e44-3f78-4c80-b0fa-bf1ac2bc11ff
          SHARD: 0
        run: |
          set -eux
          gsutil -d cp "${GCS_PATH}/${SESSION_ID}.zip" .
          unzip ${SESSION_ID}.zip -d unit-test-results/${SHARD}/
      - name: Archive unit test report
        uses: actions/upload-artifact@v3
        # TODO: Should only run for unit-tests
        if: always()
        with:
          name: unit-test-results
          path: unit-test-results/
